:root {
    --btn-primary: #FFCE22;
    --btn-secondary: #FFD84D;
    --dark-color: #1F2128;
    --white-color: #FFFFFF;
    --border-color: #E3E3E3;
    --border-gray-main: #CDCDCD;
    --border-gray-variant-2: #BDBDBD;
    --border-gray-variant-3: #878787;
    --border-blue-variant-3: #2469F6;
    --color-blue-variant-4: #5087F8;
    --color-blue-variant-6: #5087F8;
    --color-blue-variant-5: #2469F6;
    --border-blue-variant-7: #2469F6;
    --color-blue-variant-7: #2469F6;
    --list-item-gray-active: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0px;
}

.layout {
    position: relative;
    width: 578px;
    height: 794px;
    background-color: var(--white-color);
}

.card {
    min-width: 370px;
    width: auto;
    min-height: 326px;
    height: auto;

    position: absolute;
    top: 85px;
    left: 104px;

    background-color: var(--white-color);
    border: 1px solid var(--list-item-gray-active);
    border-radius: 6px;

    padding: 10px 0;

    box-shadow:
        0px 8px 15px rgba(20, 20, 20, 0.12),
        0px 0px 4px rgba(20, 20, 20, 0.10);

    opacity: 1;
}

.card-row {
    width: 370px;
    height: 42px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 15px 8px 22px;

    background-color: var(--white-color);
    opacity: 1;
    cursor: pointer;
}

.card-text {
    width: 64px;
    height: 18px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0;

    color: var(--dark-color);

    display: flex;
    align-items: center;

    opacity: 1;
}

.card-scroll {
    max-height: calc(42px * 4);
    overflow-y: auto;
    scrollbar-width: none;
}

.card-footer {
    width: 370px;
    min-height: 60px;
    height: auto;

    padding: 10px 15px;
    gap: 10px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}

.dropdown-line-wrapper {
    width: 370px;
    height: 20px;

    display: flex;
    align-items: center;

    padding: 10px 15px;
    gap: 10px;

    box-sizing: border-box;
}

.dropdown-line {
    width: 340px;
    height: 0;

    border-top: 0.7px solid var(--border-gray-main);

    opacity: 1;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    cursor: pointer;
}

.checkbox input {
    display: none;
}

.checkbox-box {
    width: 23px;
    height: 23px;

    background: var(--white-color);
    border: 1px solid var(--border-gray-main);
    border-radius: 6px;
    opacity: 60%;

    box-sizing: border-box;
    position: relative;
}

.checkbox-box:focus {
    width: 23px;
    height: 23px;
    border-radius: 6px;
    color: var(--color-blue-variant-4);
}

.checkbox-box::after {
    content: "";
    position: absolute;

    width: 12.88px;
    height: 8.1px;
    top: 7.36px;
    left: 5.52px;

    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    transform: rotate(-49deg);
    opacity: 0;
}

.checkbox:hover .checkbox-box::after {
    opacity: 1;

    width: 12.88px;
    height: 8.1px;
    top: 7.36px;
    left: 5.52px;


    border-color: var(--border-gray-main);
}

.checkbox:active .checkbox-box {
    background: var(--color-blue-variant-4);
    border-color: var(--color-blue-variant-6);
    opacity: 1;
}

.checkbox input:checked+.checkbox-box {
    background: var(--color-blue-variant-7);
    border-color: var(--color-blue-variant-7);
    opacity: 1;
}

.btn-primary {
    width: 340px;
    height: 40px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 20px;
    left: 20px;

    padding: 10px 20px;

    background-color: var(--btn-primary);
    border: none;
    border-radius: 4px;

    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    color: var(--dark-color);

    cursor: pointer;
    opacity: 1;
}

.btn-primary:hover {
    background-color: var(--btn-secondary);
}

.btn-primary:active {
    background-color: var(--btn-primary);
}